spring:
  profiles:
    active:
      - local

---

spring:
  config:
    activate:
      on-profile:
        - local
  datasource:
    url: jdbc:postgresql://localhost:5432/test_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
application:
  client:
    result-kafka-api:
      url: http://localhost:7272/result-voting/send